* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h2 {
  font-size: 2.5rem;
}

i,
svg {
  pointer-events: none;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pad {
  transition: all 0.5s ease;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background-color: rgb(147, 217, 247);
}

.snare-pad {
  background-color: rgb(255, 212, 219);
}

.hihat-pad {
  background-color: rgb(151, 243, 190);
}

.kick-pad.active {
  background-color: rgb(60, 189, 245);
}
.snare-pad.active {
  background-color: rgb(248, 139, 157);
}
.hihat-pad.active {
  background-color: rgb(77, 238, 144);
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #343434;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #343434;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

.active {
  background-color: rgb(199, 37, 37);
}

select {
  padding: 1rem;
  font-size: 1rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
